body {
  text-align: center;
  background-color: black;
  color: white;
}

.quadrado {
  text-align: center;
  width: 50px;
  background: #222;
  display: inline-block;
  padding: 32px;
  font-size: 60px;
  margin: 5px;
  cursor: pointer;
  color: #222;
}

.jogador, .vencedor {
  font-size: 30px;
  margin-top: 10px;
}

button {
  margin-top: 18px;
  width: 100px;
  height: 30px;
  background: #ddd;
  cursor: pointer;
}

